{% extends "supervisor/base_coordinator.html" %}
{% load components static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'core/css/form_cadastro.css' %}">
{% endblock %}

{% block title %}Adicionar alunos{% endblock %}

{% block page_title %}Adicionar alunos{% endblock %}

{% block content %}
{% if form.errors %}
{% include "components/alert.html" with message="Confira os campos destacados abaixo." level="danger" %}
{% endif %}

<form class="figma-custom-form" method="post" novalidate>
  {% csrf_token %}
  {{ form.as_p }}

  {# TODO: campos sem persistência; curso e período ainda não existem no cadastro #}
  <fieldset class="student-enrollment">
    <legend>Dados acadêmicos</legend>
    {% for campo in matricula_academica %}
    <p class="field">
      <label for="campo-{{ campo.value }}">{{ campo.label }}</label>
      <input type="text" id="campo-{{ campo.value }}" name="{{ campo.value }}" />
    </p>
    {% endfor %}
  </fieldset>

  <button type="submit" class="btn-submit-figma">Cadastrar aluno</button>
</form>
{% endblock %}
