{% extends "base.html" %}

{% block title %}Área do Estudante | Sistema SEP{% endblock %}

{% block content %}
<header style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
    <h1>Painel do Estudante</h1>
   <a href="{% url 'students:home' %}">&larr; Voltar para a Home</a>
</header>

<section class="card">
    <h2>Painel do Aluno</h2>
    <ul class="menu-botoes">
        <li><a href="{% url 'students:meu_professor' %}"><button>Meu Professor</button></a></li>
        <li><a href="{% url 'students:perfil' %}"><button>Meu Perfil</button></a></li>
    </ul>
</section>
<section class="card" style="margin-bottom: 2rem;">
    <h2>Minhas Informações</h2>
    <p><strong>Nome:</strong> {{ estudante.nome_completo }}</p>
    <p><strong>Email:</strong> {{ estudante.email }}</p>
    {% if estudante.matricula %}
        <p><strong>Matrícula:</strong> {{ estudante.matricula }}</p>
    {% endif %}
</section>

<section class="card">
    <h2>Meus Atendimentos e Consultas</h2>
    <p>Seus agendamentos e registros acadêmicos/clínicos aparecerão aqui.</p>
</section>
{% endblock %}