{% extends "base.html" %}

{% block title %}Triagem concluída | Sistema SEP{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'students:home' %}">Página inicial</a></li>
  <li class="breadcrumb-item"><a href="{% url 'students:triagens' %}">Triagens</a></li>
  <li class="breadcrumb-item active" aria-current="page">Conclusão</li>
{% endblock %}

{% block page_title %}Triagem concluída com sucesso!{% endblock %}

{% block content %}
<a href="{% url 'students:triagens' %}">Voltar para Triagens a realizar</a>
{% endblock %}
