DOCUSEAL_API_KEY=sua_api_key_aqui
DOCUSEAL_API_URL=http://localhost:3000/api
DOCUSEAL_WEBHOOK_TOKEN=gere_com_secrets.token_hex

FIELD_ENCRYPTION_KEY=cole a chave hash32 aqui
DJANGO_SECRET_KEY=troque-por-uma-chave-secreta-gerada
DJANGO_DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,host.docker.internal
DJANGO_DATABASE_ENGINE=django.db.backends.postgresql
DJANGO_DATABASE_NAME=dockerdjango
DJANGO_DATABASE_USER=dbusuario
DJANGO_DATABASE_PASSWORD=dbsenha
DJANGO_DATABASE_HOST=db
DJANGO_DATABASE_PORT=5432
NODE_ENV =prod #dev ou prod para fazer o manage.py rodar o settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=nao-responda@seusistema.com.br
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER = emailprovisorio@gmail.com
EMAIL_HOST_PASSWORD = abcdefghijklmnop
PORTAL_PACIENTE_URL="http://seusite.com/portal-paciente/"