

DJANGO_DEBUG=True
DJANGO_SECRET_KEY=troque-por-uma-chave-secreta-gerada
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,host.docker.internal


DOCUSEAL_API_KEY=sua_api_key_aqui
DOCUSEAL_API_URL=http://localhost:3000/api
DOCUSEAL_WEBHOOK_TOKEN=gere_com_secrets.token_hex
